<a href="https://colab.research.google.com/github/karol10542/Podstawy_nauki_o_danych/blob/main/Step04_78_81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('/content/Arkusz kalkulacyjny bez tytułu - Arkusz1.csv')
dataset

     n  val1  val2 val3
0  100    10    10    C
1  101    10    20    C
2  102    10    30    B
3  103    10    40    B
4  104    10    50    A

In [4]:
#w przypadku powyzej, kolumna 0 czyli indexy naszych wartosci zostaly potrakowane jako cecha jak pozostale kolumny
# aby tego uniknac do zaladowania danych dodajemy element index_col=0 ktory mowi ze zerowa kolumna to index

In [5]:
dataset = pd.read_csv('/content/Arkusz kalkulacyjny bez tytułu - Arkusz1.csv',index_col=0)
dataset

     val1  val2 val3
n
100    10    10    C
101    10    20    C
102    10    30    B
103    10    40    B
104    10    50    A

In [6]:
#aby pobrac wartosc 5 wiersza z kolumny cal3 uzywamy kodu:
dataset['val3'][104]

'A'

In [10]:
#lub za pomoca .loc ps w jednym jak i drugim moze wysapic potrzeba podania najpierw wiersza a potem kolumny
dataset.loc[104,'val3']

'A'

In [12]:
#lub metoda .ix ktora musi odgadnac jakiego rodzaju indeks podajesz czy jest to nazwa indexu czy jego numer np:
dataset.ix['val2',104]

AttributeError: ignored

In [13]:
#lub po numerze indeksu .iloc
dataset.iloc[4,2]

'A'

In [16]:
dataset[['val3','val2']][:2]

    val3  val2
n
100    C    10
101    C    20

In [17]:
dataset.loc[range(100,102),['val2','val3']]

     val2 val3
n
100    10    C
101    20    C