<a href="https://colab.research.google.com/github/karol10542/Podstawy_nauki_o_danych/blob/main/step03_73_78.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
my_own_dataset = pd.DataFrame({'Col1':range(5),
                               'Col2':[1.0]*5,
                               'Col3':1.0,
                               'Col4':'Witaj, świecie!'})

In [3]:
my_own_dataset

   Col1  Col2  Col3             Col4
0     0   1.0   1.0  Witaj, świecie!
1     1   1.0   1.0  Witaj, świecie!
2     2   1.0   1.0  Witaj, świecie!
3     3   1.0   1.0  Witaj, świecie!
4     4   1.0   1.0  Witaj, świecie!

In [4]:
#nie nalezy definiowac roznych wielkosci odnosnie listy dla przykładu:
bug_own = pd.DataFrame({'Col1':range(5),
                        'Col2':'Hello',
                        'Col3':range(2)})
bug_own

ValueError: ignored

In [5]:
my_own_dataset.dtypes #sprawdzamy typy kolumn

Col1      int64
Col2    float64
Col3    float64
Col4     object
dtype: object

In [6]:
#jak zmienic typ danych:
my_own_dataset['Col1'] = my_own_dataset['Col1'].astype(float)

In [7]:
my_own_dataset.dtypes

Col1    float64
Col2    float64
Col3    float64
Col4     object
dtype: object

In [8]:
my_own_dataset

   Col1  Col2  Col3             Col4
0   0.0   1.0   1.0  Witaj, świecie!
1   1.0   1.0   1.0  Witaj, świecie!
2   2.0   1.0   1.0  Witaj, świecie!
3   3.0   1.0   1.0  Witaj, świecie!
4   4.0   1.0   1.0  Witaj, świecie!

In [10]:
iris_filename = '/content/Iris.csv'
iris = pd.read_csv(iris_filename,sep=',',decimal='.',header=None,names=['sepal_length','sepal_width','petal_length','petal_width','target'])

In [11]:
#stosowanie maski
iris.dtypes

sepal_length    object
sepal_width     object
petal_length    object
petal_width     object
target          object
dtype: object

In [12]:
mask_feature =iris['sepal_length'] > '6.0'
mask_feature

Id      True
1      False
2      False
3      False
4      False
       ...
146     True
147     True
148     True
149     True
150    False
Name: sepal_length, Length: 151, dtype: bool

In [13]:
#zamiana wartosci target==iris virginia na nowa wartosc za pomoca .loc
mask_target =iris['target'] =='Iris_virginia'
iris.loc[mask_target,'target'] == 'test0'

Series([], Name: target, dtype: bool)

In [15]:
#wyswietla opisy
iris['target'].unique()

array(['Species', 'Iris-setosa', 'Iris-versicolor', 'Iris-virginica'],
      dtype=object)

In [17]:
#grupowanie dla wartosci liczbowych
grouped_targets_mean = iris.groupby(['target']).mean()
grouped_targets_mean

DataError: ignored

In [18]:
#funkcja .apply pozwala wykonywac dowolne operacje na wierszach lub kolumnach.
import numpy as np
iris.apply(np.count_nonzero,axis=1).head()

Id    5
1     5
2     5
3     5
4     5
dtype: int64

In [19]:
#aby ustalic liczbe niezerowych elementow dla cech
iris.apply(np.count_nonzero,axis=0)

sepal_length    151
sepal_width     151
petal_length    151
petal_width     151
target          151
dtype: int64

In [20]:
#ustalamy dlugosc znakow kazdej komorki, zaczynamy od rzutowania wszystkich komorek na lancuch znakow
iris.applymap(lambda el:len(str(el))).head()

    sepal_length  sepal_width  petal_length  petal_width  target
Id            13           12            13           12       7
1              3            3             3            3      11
2              3            3             3            3      11
3              3            3             3            3      11
4              3            3             3            3      11