<a href="https://colab.research.google.com/github/karol10542/Podstawy_nauki_o_danych/blob/main/Step02_60-73.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
import urllib

In [6]:
#jesli dane mają być ze strony uzywamy tego kodu:
#url = "http://aima.cs.berkeley.edu/data/iris.csv"
#set1 = urllib.request.Request(url)
#iris_p = urllib.request.urlopen(set1)
#iris_other = pd.read_csv(iris_filename, sep=',',decimal='.', header=None,
 #                  names=['sepal_length','sepal_width','petal_length','petal_width','target'])

In [7]:
#sciezka do pliku csv
iris_filename = '/content/Iris.csv'
#do odczytania podajemy nazwe pliku, separatory odzielajace, znak odzielajacy znak wartosci dziesietnej, czy dane obejmuja naglowek,
iris = pd.read_csv(iris_filename, sep=',',decimal='.', header=None,
                   names=['sepal_length','sepal_width','petal_length','petal_width','target'])

In [9]:
#wyswietlamy dane
iris.head()

     sepal_length   sepal_width   petal_length   petal_width       target
Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa

In [17]:
#ta funkcja wysiwetla po 5 wierszy
iris.tail()

    sepal_length sepal_width petal_length petal_width          target
146          6.7         3.0          5.2         2.3  Iris-virginica
147          6.3         2.5          5.0         1.9  Iris-virginica
148          6.5         3.0          5.2         2.0  Iris-virginica
149          6.2         3.4          5.4         2.3  Iris-virginica
150          5.9         3.0          5.1         1.8  Iris-virginica

In [18]:
iris.head(13)

     sepal_length   sepal_width   petal_length   petal_width       target
Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa
6             5.4           3.9            1.7           0.4  Iris-setosa
7             4.6           3.4            1.4           0.3  Iris-setosa
8             5.0           3.4            1.5           0.2  Iris-setosa
9             4.4           2.9            1.4           0.2  Iris-setosa
10            4.9           3.1            1.5           0.1  Iris-setosa
11            5.4           3.7            1.5           0.2  Iris-setosa
12            4.8           3.4            1.6           0.2  Iris-setosa

In [22]:
#aby poznac nazwy kolumn
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'target'], dtype='object')

In [26]:
X = iris[['sepal_length','sepal_width']]
X

      sepal_length   sepal_width
Id   SepalLengthCm  SepalWidthCm
1              5.1           3.5
2              4.9           3.0
3              4.7           3.2
4              4.6           3.1
..             ...           ...
146            6.7           3.0
147            6.3           2.5
148            6.5           3.0
149            6.2           3.4
150            5.9           3.0

[151 rows x 2 columns]

In [24]:
#jest to jednowymiarowa tablica z etykietami, Y typu series z biblioteki pandas
Y = iris['target']
Y

Id            Species
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
150    Iris-virginica
Name: target, Length: 151, dtype: object

In [27]:
#powyzej jedno od drugiego rozzni sie tym ze Series jest bez naglówka dlatego jest 150danych a drugie jest typu DataFrame dolicza naglowek

In [29]:
#aby uzyskać liczbę wymiarów używamy .shape:
print(Y.shape)
print(X.shape)
#wynikiem jesy krotka zawierajaca wielksoc macierzy lub tablicy

(151,)
(151, 2)

In [39]:
fake_dataset = pd.read_csv('a_loading_example_1.csv',sep=',')

FileNotFoundError: ignored

In [42]:
fake_datasets

       Date  Temperature_city_1  ...  Temperature_city_3  Which_destination
0  20140910                80.0  ...                  40                  1
1  20140911               100.0  ...                  36                  2
2  20140912               102.0  ...                  46                  1
3  20140913                60.0  ...                  35                  3
4  20140914                60.0  ...                  32                  3
5  20140915                 NaN  ...                  42                  2

[6 rows x 5 columns]

In [44]:
file_name = "/content/code_final_version_chapter_2_a_loading_example_1.csv"

fake_datasets = pd.read_csv(file_name, sep=',')

In [45]:
fake_datasets

       Date  Temperature_city_1  ...  Temperature_city_3  Which_destination
0  20140910                80.0  ...                  40                  1
1  20140911               100.0  ...                  36                  2
2  20140912               102.0  ...                  46                  1
3  20140913                60.0  ...                  35                  3
4  20140914                60.0  ...                  32                  3
5  20140915                 NaN  ...                  42                  2

[6 rows x 5 columns]

In [47]:
#jak widac powyzej, pierwsza  kolumna to daty, a zostala przetworzona jako ciag znakow, aby to zmienic mozemy podac kolumne 0 i zdefiniowac jako format daty
fake_datasets = pd.read_csv(file_name, parse_dates=[0])

In [48]:
fake_datasets

        Date  Temperature_city_1  ...  Temperature_city_3  Which_destination
0 2014-09-10                80.0  ...                  40                  1
1 2014-09-11               100.0  ...                  36                  2
2 2014-09-12               102.0  ...                  46                  1
3 2014-09-13                60.0  ...                  35                  3
4 2014-09-14                60.0  ...                  32                  3
5 2014-09-15                 NaN  ...                  42                  2

[6 rows x 5 columns]

In [49]:
#problem rozwiązany za pomocą parse_dates

In [50]:
#teraz zajmiemy sie lukami tam gdzie nie ma wartosci lub sa inne niz dozwolone NAN = not a number, można je zastapic sensownymi liczbami poniżej potrzebna instrukcja aby zmienic dane
fake_datasets.fillna(50) #zamieniamy wszystkie wartosci NAN -> 50

        Date  Temperature_city_1  ...  Temperature_city_3  Which_destination
0 2014-09-10                80.0  ...                  40                  1
1 2014-09-11               100.0  ...                  36                  2
2 2014-09-12               102.0  ...                  46                  1
3 2014-09-13                60.0  ...                  35                  3
4 2014-09-14                60.0  ...                  32                  3
5 2014-09-15                50.0  ...                  42                  2

[6 rows x 5 columns]

In [51]:
#lub zasapic to ujemna wartoscia ktora z gory zasygnalizuje nam ze cos jest nie tak
fake_datasets.fillna(-1)

        Date  Temperature_city_1  ...  Temperature_city_3  Which_destination
0 2014-09-10                80.0  ...                  40                  1
1 2014-09-11               100.0  ...                  36                  2
2 2014-09-12               102.0  ...                  46                  1
3 2014-09-13                60.0  ...                  35                  3
4 2014-09-14                60.0  ...                  32                  3
5 2014-09-15                -1.0  ...                  42                  2

[6 rows x 5 columns]

In [52]:
#kolejny przyklad zastapienia wartosci NAN jest wpisanie wartosci sredniej z danej kolumny co pozwala nam zminimalizowac blad zgadywania brakujacej wartosci
fake_datasets.fillna(fake_datasets.mean(axis=0))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.

        Date  Temperature_city_1  ...  Temperature_city_3  Which_destination
0 2014-09-10                80.0  ...                  40                  1
1 2014-09-11               100.0  ...                  36                  2
2 2014-09-12               102.0  ...                  46                  1
3 2014-09-13                60.0  ...                  35                  3
4 2014-09-14                60.0  ...                  32                  3
5 2014-09-15                80.4  ...                  42                  2

[6 rows x 5 columns]

In [53]:
# metoda .mean oblicza srednia arytmetyczna wartosci okreslonej osi, axis=0 oznacza obliczanie średniej z uwzglednieniem wielu wierszy. srednie sa wtedy obliczane dla kolumn

jeśli w danych występują błędy w wierszach, zostanie wygenerowany błąd. Dlatego jedną z metod jest ominięcie błędych wierszy o ile nie przeważają znacząco danych.

In [58]:
path = "/content/code_final_version_chapter_2_a_loading_example_2.csv"
# error_bad_lines=False poowduje wyswietlenie tych danych, bez tego wystepuje blad
fake_d2 = pd.read_csv(path,sep=",",error_bad_lines=False)
fake_d2

b'Skipping line 4: expected 3 fields, saw 4\n'

   Val1  Val2  Val3
0     0     0     0
1     1     1     1
2     3     3     3

In [60]:
#bez error_bad_lines
fake_d2 = pd.read_csv(path,sep=",")
fake_d2

ParserError: ignored

In [59]:
#jak widac wyzej wystepuje przerwanie z bledem wiec teraz ominiemy wiersze ktore to powoduja

In [62]:
iris_filename = "/content/Iris.csv"
#metoda ktora dzieli na kawalki nasze dane, kazda porcja danych zawiera wszystkie kolumny i ograniczona liczbe wierszy nie wiecej niz okreslono w chunksize. wyswietlane za pomoca petli jako iteracja a nie DataFrame
iris_chunks = pd.read_csv(iris_filename, header=None,names=['C1','C2','C3','C4','C5'],chunksize=10)

for chunk in iris_chunks:
  print('Wymiary:',chunk.shape)
  print(chunk,'\n')

Wymiary: (10, 5)
               C1            C2             C3            C4           C5
Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa
6             5.4           3.9            1.7           0.4  Iris-setosa
7             4.6           3.4            1.4           0.3  Iris-setosa
8             5.0           3.4            1.5           0.2  Iris-setosa
9             4.4           2.9            1.4           0.2  Iris-setosa

Wymiary: (10, 5)
     C1   C2   C3   C4           C5
10  4.9  3.1  1.5  0.1  Iris-setosa
11  5.4  3.7  1.5  0.2  Iris-setosa
12  4.8  3.4  1.6  0.2  Iris-setosa
13  4.8  3.0  1.4  0.1  Iris-setosa
14  4.3  3.0  1.1  0.1  Iris-setosa
15  5.8  4.0  1.2  0.2  Iris-setosa
16  5.7  4.4  1.5  0.4  Iris-setosa
17  5.4  3.9  1.3  0.4  Iris-setosa
18  5.1  3.5  1.4  0.3  Iris-setosa
19  5.7  3.8  1.7  0.3  Iris-setosa

Wymiary: (10, 5)
     C1   C2   C3   C4           C5
20  5.1  3.8  1.5  0.3  Iris-setosa
21  5.4  3.4  1.7  0.2  Iris-setosa
22  5.1  3.7  1.5  0.4  Iris-setosa
23  4.6  3.6  1.0  0.2  Iris-setosa
24  5.1  3.3  1.7  0.5  Iris-setosa
25  4.8  3.4  1.9  0.2  Iris-setosa
26  5.0  3.0  1.6  0.2  Iris-setosa
27  5.0  3.4  1.6  0.4  Iris-setosa
28  5.2  3.5  1.5  0.2  Iris-setosa
29  5.2  3.4  1.4  0.2  Iris-setosa

Wymiary: (10, 5)
     C1   C2   C3   C4           C5
30  4.7  3.2  1.6  0.2  Iris-setosa
31  4.8  3.1  1.6  0.2  Iris-setosa
32  5.4  3.4  1.5  0.4  Iris-setosa
33  5.2  4.1  1.5  0.1  Iris-setosa
34  5.5  4.2  1.4  0.2  Iris-setosa
35  4.9  3.1  1.5  0.1  Iris-setosa
36  5.0  3.2  1.2  0.2  Iris-setosa
37  5.5  3.5  1.3  0.2  Iris-setosa
38  4.9  3.1  1.5  0.1  Iris-setosa
39  4.4  3.0  1.3  0.2  Iris-setosa

Wymiary: (10, 5)
     C1   C2   C3   C4           C5
40  5.1  3.4  1.5  0.2  Iris-setosa
41  5.0  3.5  1.3  0.3  Iris-setosa
42  4.5  2.3  1.3  0.3  Iris-setosa
43  4.4  3.2  1.3  0.2  Iris-setosa
44  5.0  3.5  1.6  0.6  Iris-setosa
45  5.1  3.8  1.9  0.4  Iris-setosa
46  4.8  3.0  1.4  0.3  Iris-setosa
47  5.1  3.8  1.6  0.2  Iris-setosa
48  4.6  3.2  1.4  0.2  Iris-setosa
49  5.3  3.7  1.5  0.2  Iris-setosa

Wymiary: (10, 5)
     C1   C2   C3   C4               C5
50  5.0  3.3  1.4  0.2      Iris-setosa
51  7.0  3.2  4.7  1.4  Iris-versicolor
52  6.4  3.2  4.5  1.5  Iris-versicolor
53  6.9  3.1  4.9  1.5  Iris-versicolor
54  5.5  2.3  4.0  1.3  Iris-versicolor
55  6.5  2.8  4.6  1.5  Iris-versicolor
56  5.7  2.8  4.5  1.3  Iris-versicolor
57  6.3  3.3  4.7  1.6  Iris-versicolor
58  4.9  2.4  3.3  1.0  Iris-versicolor
59  6.6  2.9  4.6  1.3  Iris-versicolor

Wymiary: (10, 5)
     C1   C2   C3   C4               C5
60  5.2  2.7  3.9  1.4  Iris-versicolor
61  5.0  2.0  3.5  1.0  Iris-versicolor
62  5.9  3.0  4.2  1.5  Iris-versicolor
63  6.0  2.2  4.0  1.0  Iris-versicolor
64  6.1  2.9  4.7  1.4  Iris-versicolor
65  5.6  2.9  3.6  1.3  Iris-versicolor
66  6.7  3.1  4.4  1.4  Iris-versicolor
67  5.6  3.0  4.5  1.5  Iris-versicolor
68  5.8  2.7  4.1  1.0  Iris-versicolor
69  6.2  2.2  4.5  1.5  Iris-versicolor

Wymiary: (10, 5)
     C1   C2   C3   C4               C5
70  5.6  2.5  3.9  1.1  Iris-versicolor
71  5.9  3.2  4.8  1.8  Iris-versicolor
72  6.1  2.8  4.0  1.3  Iris-versicolor
73  6.3  2.5  4.9  1.5  Iris-versicolor
74  6.1  2.8  4.7  1.2  Iris-versicolor
75  6.4  2.9  4.3  1.3  Iris-versicolor
76  6.6  3.0  4.4  1.4  Iris-versicolor
77  6.8  2.8  4.8  1.4  Iris-versicolor
78  6.7  3.0  5.0  1.7  Iris-versicolor
79  6.0  2.9  4.5  1.5  Iris-versicolor

Wymiary: (10, 5)
     C1   C2   C3   C4               C5
80  5.7  2.6  3.5  1.0  Iris-versicolor
81  5.5  2.4  3.8  1.1  Iris-versicolor
82  5.5  2.4  3.7  1.0  Iris-versicolor
83  5.8  2.7  3.9  1.2  Iris-versicolor
84  6.0  2.7  5.1  1.6  Iris-versicolor
85  5.4  3.0  4.5  1.5  Iris-versicolor
86  6.0  3.4  4.5  1.6  Iris-versicolor
87  6.7  3.1  4.7  1.5  Iris-versicolor
88  6.3  2.3  4.4  1.3  Iris-versicolor
89  5.6  3.0  4.1  1.3  Iris-versicolor

Wymiary: (10, 5)
     C1   C2   C3   C4               C5
90  5.5  2.5  4.0  1.3  Iris-versicolor
91  5.5  2.6  4.4  1.2  Iris-versicolor
92  6.1  3.0  4.6  1.4  Iris-versicolor
93  5.8  2.6  4.0  1.2  Iris-versicolor
94  5.0  2.3  3.3  1.0  Iris-versicolor
95  5.6  2.7  4.2  1.3  Iris-versicolor
96  5.7  3.0  4.2  1.2  Iris-versicolor
97  5.7  2.9  4.2  1.3  Iris-versicolor
98  6.2  2.9  4.3  1.3  Iris-versicolor
99  5.1  2.5  3.0  1.1  Iris-versicolor

Wymiary: (10, 5)
      C1   C2   C3   C4               C5
100  5.7  2.8  4.1  1.3  Iris-versicolor
101  6.3  3.3  6.0  2.5   Iris-virginica
102  5.8  2.7  5.1  1.9   Iris-virginica
103  7.1  3.0  5.9  2.1   Iris-virginica
104  6.3  2.9  5.6  1.8   Iris-virginica
105  6.5  3.0  5.8  2.2   Iris-virginica
106  7.6  3.0  6.6  2.1   Iris-virginica
107  4.9  2.5  4.5  1.7   Iris-virginica
108  7.3  2.9  6.3  1.8   Iris-virginica
109  6.7  2.5  5.8  1.8   Iris-virginica

Wymiary: (10, 5)
      C1   C2   C3   C4              C5
110  7.2  3.6  6.1  2.5  Iris-virginica
111  6.5  3.2  5.1  2.0  Iris-virginica
112  6.4  2.7  5.3  1.9  Iris-virginica
113  6.8  3.0  5.5  2.1  Iris-virginica
114  5.7  2.5  5.0  2.0  Iris-virginica
115  5.8  2.8  5.1  2.4  Iris-virginica
116  6.4  3.2  5.3  2.3  Iris-virginica
117  6.5  3.0  5.5  1.8  Iris-virginica
118  7.7  3.8  6.7  2.2  Iris-virginica
119  7.7  2.6  6.9  2.3  Iris-virginica

Wymiary: (10, 5)
      C1   C2   C3   C4              C5
120  6.0  2.2  5.0  1.5  Iris-virginica
121  6.9  3.2  5.7  2.3  Iris-virginica
122  5.6  2.8  4.9  2.0  Iris-virginica
123  7.7  2.8  6.7  2.0  Iris-virginica
124  6.3  2.7  4.9  1.8  Iris-virginica
125  6.7  3.3  5.7  2.1  Iris-virginica
126  7.2  3.2  6.0  1.8  Iris-virginica
127  6.2  2.8  4.8  1.8  Iris-virginica
128  6.1  3.0  4.9  1.8  Iris-virginica
129  6.4  2.8  5.6  2.1  Iris-virginica

Wymiary: (10, 5)
      C1   C2   C3   C4              C5
130  7.2  3.0  5.8  1.6  Iris-virginica
131  7.4  2.8  6.1  1.9  Iris-virginica
132  7.9  3.8  6.4  2.0  Iris-virginica
133  6.4  2.8  5.6  2.2  Iris-virginica
134  6.3  2.8  5.1  1.5  Iris-virginica
135  6.1  2.6  5.6  1.4  Iris-virginica
136  7.7  3.0  6.1  2.3  Iris-virginica
137  6.3  3.4  5.6  2.4  Iris-virginica
138  6.4  3.1  5.5  1.8  Iris-virginica
139  6.0  3.0  4.8  1.8  Iris-virginica

Wymiary: (10, 5)
      C1   C2   C3   C4              C5
140  6.9  3.1  5.4  2.1  Iris-virginica
141  6.7  3.1  5.6  2.4  Iris-virginica
142  6.9  3.1  5.1  2.3  Iris-virginica
143  5.8  2.7  5.1  1.9  Iris-virginica
144  6.8  3.2  5.9  2.3  Iris-virginica
145  6.7  3.3  5.7  2.5  Iris-virginica
146  6.7  3.0  5.2  2.3  Iris-virginica
147  6.3  2.5  5.0  1.9  Iris-virginica
148  6.5  3.0  5.2  2.0  Iris-virginica
149  6.2  3.4  5.4  2.3  Iris-virginica

Wymiary: (1, 5)
      C1   C2   C3   C4              C5
150  5.9  3.0  5.1  1.8  Iris-virginica

In [65]:
# w tym przykladzie mozna dynamicznie okreslac dlugosc kazdego fragmentu obiektu polegajaca na zadzadznaiu iteratora
iris_iterator = pd.read_csv(iris_filename, header=None, names=['C1','C2','C3','C4','C5'],iterator=True)

In [71]:
print(iris_iterator.get_chunk(10).shape)
print(iris_iterator.get_chunk(20).shape)
piece=iris_iterator.get_chunk(2)

(10, 5)
(20, 5)

In [72]:
piece

      C1   C2   C3   C4              C5
134  6.3  2.8  5.1  1.5  Iris-virginica
135  6.1  2.6  5.6  1.4  Iris-virginica

Uzycie innych przykladow i bibliotek np csv itp

In [73]:
import csv

In [74]:
with open(iris_filename, 'rt') as data_stream:
  for n, row in enumerate(csv.DictReader(data_stream,fieldnames=['sepal_length','sepal_width','petal_length','petal_width','target'],dialect='excel')):
    if n==0:
      print(n,row)
    else:
      break

0 OrderedDict([('sepal_length', 'Id'), ('sepal_width', 'SepalLengthCm'), ('petal_length', 'SepalWidthCm'), ('petal_width', 'PetalLengthCm'), ('target', 'PetalWidthCm'), (None, ['Species'])])

Powyzszy kod otwiera połączenie z plikiem w trybie odczytu danych z binarnych i tworzy dla pliku alias data_stream. Uzycie polecenia with oznacza ze plik zostanie zamkiniety po kompletnym wykonaniu instrukcji i umieszczonych w nastepnym wcieicu. Dalej kod uruchamia iteracjie for .. in .. i w wywolaniu enumerate uruchamia funkcje csv.DictReader wczytuje dane ze strumienia data_stream. Ponieważ plik nie zawiera nagłówka, nazwy pól są podane w parametrach fieldnames. Dialect okrelsa ze jest uzywany standardowy plik csv..